@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
:root {
  --color-primary: rgba(108, 93, 211, 1);
  --color-secondary: rgba(255, 171, 198, 1);
  --color-black1: rgba(27, 29, 33, 1);
  --color-black2: rgba(17, 20, 45, 1);
  --color-gray1: rgba(132, 148, 171, 1);
  --color-gray2: rgba(233, 238, 244, 1);
  --color-natural2: rgba(240, 243, 246, 1);
  --color-white: rgba(255, 255, 255, 1);
  --font-family: "IBM Plex Sans", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

body {
  font-family: var(--font-family);
  font-size: 16px;
  color: var(--color-black1);
}

img,
input {
  display: block;
  width: 100%;
}

.dashboard {
  display: grid;
  grid-template-columns: 256px minmax(0, 1fr);
  min-height: 100vh;
  max-width: 1488px;
  padding: 24px;
  margin: 0 auto;
}

.sidebar {
  max-width: 256px;
  padding: 48px 30px;
  border-right: 1px solid var(--color-natural2);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 44px;
}
.logo img {
  width: 196px;
  height: 22px;
  object-fit: cover;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  padding-bottom: 26px;
  border-bottom: 2px solid var(--color-gray2);
}
.menu:last-child {
  border-bottom: 0;
}
.menu-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  color: var(--color-gray1);
  margin: 26px 0 10px;
}
.menu-items {
  width: 100%;
  list-style: none;
  transition: all 0.2s linear;
}
.menu-item {
  padding: 8px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  color: var(--color-gray1);
  background-color: var(--color-white);
  text-decoration: none;
  transition: all 0.2s linear;
}
.menu-item__icon {
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.menu-item:hover {
  color: var(--color-white);
  background: linear-gradient(92.29deg, #415EF4 0.33%, #7141EF 28.14%);
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 60px;
}

.search {
  max-width: 360px;
  position: relative;
}
.search-input {
  width: 360px;
  background-color: #fafafa;
  border-radius: 8px;
  padding: 15px;
  padding-left: 55px;
  outline: none;
  border: 1px solid transparent;
  transition: all 0.2s linear;
}
.search-input:focus {
  border-color: #2979ff;
  background-color: transparent;
}
.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}

.tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.tools-button {
  padding: 13px 16px;
  border-radius: 12px;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: var(--color-white);
  transition: all 0.2s ease;
}
.tools-button:hover {
  opacity: 0.8;
}
.tools-notify {
  position: relative;
}
.tools-notify:before {
  content: "";
  background-color: red;
  border-radius: 100rem;
  width: 11px;
  height: 11px;
  position: absolute;
  top: 0;
  right: 0;
  border: 2px solid var(--color-white);
}
.tools-icon {
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.tools-avatar {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 100rem;
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 60px;
  padding: 36px 60px;
}
.content-main {
  max-width: 674px;
}

.popular {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
.popular-header {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.popular-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 31px;
}
.popular-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  text-decoration: none;
}
.popular-avatar {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 100rem;
  padding: 2px;
  border: 1px solid var(--color-secondary);
  flex-shrink: 0;
}
.popular-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-gray1);
}

/*# sourceMappingURL=style.css.map */
