:root {
    --color-primary: rgba(108, 93, 211, 1);
    --color-secondary: rgba(255, 171, 198, 1);

    --color-black1: rgba(27, 29, 33, 1);
    --color-black2: rgba(17, 20, 45, 1);
    --color-gray1: rgba(132, 148, 171, 1);
    --color-gray2: rgba(233, 238, 244, 1);
    --color-Natural: rgba(103, 106, 111, 1);
    --color-natural1: rgba(248, 248, 248, 1);
    --color-natural2: rgba(240, 243, 246, 1);
    --color-white: rgba(255, 255, 255, 1);
    ;

    --font-family: "IBM Plex Sans", sans-serif;
}